body {
	background-color: #909090;
	color: black;
	font-family: Tahoma, Geneva, sans-serif;
}
#ocean {
	padding: 0.2em 0.3em 1em 0.3em;
}
#ship {
	background-color: white;
	border: 2px solid black;
	box-shadow: 10px 10px 15px -5px #333333;
	-webkit-box-shadow: 0px 0px 25px 6px #333333;
	-moz-box-shadow: 10px 10px 15px -5px #333333;
	padding: 0.1em 0.5em 0.1em 1.3em;
	min-width: 36em;
	max-width: 60em;
}
header {
}
h1,h3,h4 {
	font-family: 'Michroma', Tahoma, Geneva, sans-serif;
}
h1 {
	font-size: 1.3em;
}
h3 {
	font-size: 1.0em;
	margin-top: 2em;
}
h4 {
	font-size: 0.9em;
	margin-top: 2em;
}
h4 {
	margin-bottom: 0.1em;
}
p {
	font-size: 0.9em;
}
#cargo {
}
footer {
}
a, a:visited {
	color: black;
}
#toprighter {
	float: right;
	clear: right;
	padding: 0.3em 0.2em;
}
#toprighter img {
	height: 0.9em;
}
#toprighter .flurdySmall {
}
navigation {
}
ul.horizontal {
}
ul.horizontal li {
	display: inline;
	font-size: 0.8em;
}
#starboard {
	float: right;
	width: 14em;
	margin: 0 0 0 0.5em;
}
#starboard {
	font-size: 9pt;
}
#starboard ul {
	padding-left: 1.2em;
}
#starboard ul ul {
	padding-left: 0.6em;
}
#starboard li {
}
#jib {
	font-size: 0.7em;
	font-style: italic;
}
code{
	display: block;
	white-space: nowrap;
	background-color: #252525;
	border: 1px inset #525252;
	color: white;
	padding: 0.2em 0.5em 0.2em 1em;
	margin: 0.3em 0;
	max-width: 40em;
	min-width: 30em;
}
code.wide {
	min-width: 45em;
}
code.comment {
	color: gray;
}
code.file {
	min-width: 30em;
	max-width: 40em;
	background-color: #204020;
	padding: 0.4em 1em;
	margin: 0.8em 0;
}
#cargo img#recursive-ubuntu { 
	height: 12em; 
}
#cargo img#shipping-ubuntu { 
	height: 10em; 
	border: 2px inset silver;
}
code .host {
	color: #33aa33;
	padding-right: 0.2em;
	margin-right: 0.2em;
}
code.output,table.output {
	margin-top: 1em;
	padding: 0.2em 0.5em 0.2em 1em;
	background-color: #333355;
	border: 1px inset #525252;
	color: white;
	width: 40em;
	max-width: 40em;
}
code.output {
	font-size:; 0.8em;
}
table.output td {
	font-size: 0.7em;
	padding: 0.1em 0.2em;
	white-space: nowrap;
}
.indent1 {
	padding: 0 1em;
}
.indent2 {
	padding: 0 2em;
}

